body{
    background: linear-gradient(#E7FFFF, #F0FFF0);
    height: 100%;
}

.navbar-bckgr-color{
background-color:lightsalmon ;
}

.navbar-default .navbar-nav>li>a{color:white}
.navbar-default .navbar-nav>li>button{color:white}
.navbar-default .navbar-header>a{color:white}

.header{
    background-image: url("Background.jpg");
    background-size: cover;
    /*background-color: rgba(231, 255, 255, 0.67);*/
}

.header-text{
    padding: 100px;
    color: #337ab7;
    background-color: transparent;
}

.about-header{
    color: rgb(0, 143, 143);
    text-align: center;

}

.about-font-size{
    font-size: 25px;
    margin-top: 50px;
}

.img-self{
    height:60vh;
 }

.btn-git-color{
    color: rgb(255, 239, 50);
    font-size: 21px;
}

.btn-contact-link{
    padding:14px;

}

.modal-body{
    background-color:#F0FFF0
}

div.row>h1{
    padding-bottom: 20px;
}

.footer{
    height:20vh;
    /*background: linear-gradient(#F0FFF0, #E7FFFF);*/
}


section{
    height:100vh;
}

a [class^="glyphicon-"], a [class*=" glyphicon-"] {
    display: inline;
}

input:focus{background-color:rgba(240, 255, 240, 0.65);}
a{color: #337ab7}

form{
   padding-right: 10px;
    padding-left: 10px;
}

.button-form-submittion {
    background-color: rgba(231, 255, 255, 0.67);
    border: outset aquamarine;
    margin-top:20px;
}
