body{
    background: linear-gradient(#E7FFFF, #F0FFF0);
}

.navbar-style{
background-color: rgba(255, 239, 50, 0.2);
}

.header{
    background-color: rgba(231, 255, 255, 0.67);
    color: #337ab7;
    padding: 100px;
}
.img-self{
    height:300px;
    float:right
 }
.btn-git-color{
    color: rgb(255, 239, 50);
    font-size: 21px;
    
}
div.row>h1{
    padding-bottom: 20px;
}
.footer{
    background: linear-gradient(#F0FFF0, #E7FFFF);
    padding-top: 50px;
    padding-bottom: 50px;
}

.div-contact{
    height:100%;
}
a [class^="glyphicon-"], a [class*=" glyphicon-"] {
    display: inline;
}

input:focus{background-color:rgba(240, 255, 240, 0.65);}
a{color: #337ab7}
form{
    padding-top: 150px;
    padding-bottom: 150px;
}
div.col-xs-offset-3>button {
    background-color: rgba(231, 255, 255, 0.67);
    border: outset aquamarine;
    margin-top:20px;
    margin-left: 40px;
}
