.container{
  text-align:center;
  background-color: #8dc0f2;
  color:white;
  
}
.nav-item,.nav-logo{
  -ms-flex-preferred-size: calc(100% / 4 );
      flex-basis: calc(100% / 4 );
  padding:15px 0;
   
}
nav{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  font-family: 'Alegreya Sans SC';
}
nav.header{
   box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}
#home::before{
  content:'\f015'; 
}
#home, #about, #contact, #blog, #github{
  display:block;
}
#about::before{
  content:'\f2bd'; 
}

#contact::before{
  content:'\f0e0'; 
}

#blog::before{
  content:'\f328'; 
}
#github::before{
  content:'\f09b'; 
  font-size:4em;
  color: #f5a4a4;
}

.nav-logo{
  background-color: #fae6d2;
  text-align:left;
  font-size: 2.2em;
  color:white;
  font-family:'Great Vibes';
}
.nav-item{
  color:#f5a4a4;
  background-color: #Fafad2;
  font-size: 1.3em;
}
.header-hello{
  font-size: 4em;
  font-family: 'Great Vibes';
}
.header-text{
  font-size: 1.5em;
  font-family: 'Indie Flower';
}
.header-github-link{
  font-size: 2.5em;
  color:#f5a4a4;
}
.down::before{
  content:'\f078';
  color: #Fafad2;
  font-size:4em;
}
section, header{
  min-height:100vh;
  display: -ms-flexbox;
  display: flex;
}
.content{
  margin:auto;
}
.photo{
  background-image: url('https://pp.userapi.com/c639223/v639223227/4fbb5/jrXXYXzeQp4.jpg');
  background-size:cover;
  height:200px;
  width: 200px;
  border-radius:100%;  
  margin: 0 auto;
}
.about{
  font-size: 4em;
  font-family: 'Great Vibes'
}
.about-text{
  font-size: 1.5em;
  font-family: 'Indie Flower';
}
.about-text-stack{
  font-size: 1.2em;
}
.feedback{
  font-size: 4em;  
  font-family: 'Great Vibes'
}
.feedback-form{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-flow:column nowrap;
      flex-flow:column nowrap;
  min-height:80vh;
  max-width:29.167vw; 
  margin: 0 auto;
}

input::-webkit-input-placeholder, input::-moz-placeholder, input::-webkit-input-placeholder, input:-ms-input-placeholder{
  color:#f5a4a4;
  font-family: 'Indie Flower';
}

input::-webkit-input-placeholder, input::-moz-placeholder, input::placeholder, input:-ms-input-placeholder{
  color:#f5a4a4;
  font-family: 'Indie Flower';
}
input, textarea{
   margin-bottom: calc(10px*100 / 80) ; /*переводим px в vh*/
   border: calc(2px*100 / 80) solid #f5a4a4;  
}
button{
  background-color:#f5a4a4;
  border: 0;
  padding: calc(15px*100 / 80);
  min-width: 9vw;
  border-radius: 13px;
  color:white;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: 'Alegreya Sans SC';
  margin-bottom: 20px;
  
}
#name{
  width: calc(100% / 1 - 5vw);
}
#email{
  width: calc(100% / 1 - 5vw);
  -ms-flex-item-align: end;
      align-self: flex-end;
}
footer.container-center{
  min-height:50vh; 
  background-color: #fafad2;
}
nav.footer{
  background-color: #fafad2;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction: row;
      flex-direction: row;
}
.footer-nav{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction: row;
      flex-direction: row;
  margin:0 auto;
  min-width:40vw;
  -ms-flex-align:center;
      align-items:center;
  -ms-flex-pack:center;
      justify-content:center;
  border-bottom: 2px solid #f5a4a4;
}
.footer-nav-item{
    -ms-flex-preferred-size: calc(100% / 4 );
        flex-basis: calc(100% / 4 );
}
nav>.logos{
  min-width:100%;
  padding:10px 0;
  color:black;
}
.facebook-logo, .github-logo, .codepen-logo, .gmail-logo{
  font-size: 4em;
  padding: 0 2vw;
}
.github-logo::before{
  content:'\f09b'; 
}
.gmail-logo::after{
  content:'\f0e0';
  color: darkred;
}
.facebook-logo::after{
  content:'\f082';
  color:darkblue;
}
.codepen-logo::after{
   content:'\f1cb'; 
}
.footer-line{
  height: 20px;
  background-color: #fae6d2;
}